<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>JOYMUSIC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="icon" type="image/png" href="/img/logo_pequena.png"/>
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <ul>
                    <li>
                        <input type="text" class="search" placeholder="procure pelo nome da música">
                        <div class="botão-search">
                            <a href="" class="fas fa-search"></a>
                        </div>
                    </li>
                    <li>
                        <div class="botão-add">
                            <a href="" class="fas fa-plus"></a>
                        </div>
                    </li>
                    <li>
                        <div class="botão-excluir">
                            <a href="" class="fas fa-trash"></a>
                        </div>
                    </li>
            </nav>
        </div>
    </header>
    <main>
        <div class="catalogo">
            
        </div>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>