@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

html, body { /* para não ter barra de navegação horizontal */
    width: 100%;
    overflow-x: hidden;
}

/* header */

.cabecalho {
    max-width: 1000px;
    min-width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-image: url("/img/header.jpg");
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 40px;
}

.cabecalho form {
    width: 20%;
    margin: 40px;
    display: flex;
    float: left;
}

.cabecalho input[type="text"] {
    width: 250px;
    float: left;
    padding: 15px 10px;
    border: 1px solid #03ADEF;
    color: white;
    background: #231F20;
    font-weight: bold;
    border-radius: 4px;
}

#lupa {
    float: right;
    padding: 15px 10px;
    background: transparent;
    color: #03ADEF;
    border: none;
    cursor: pointer;
    
}

#plus {
    padding: 15px 10px;
    background: transparent;
    color: #03ADEF;
    border: none;
    cursor: pointer;
}

#lixo {
    padding: 15px 10px;
    background: transparent;
    color: #03ADEF;
    border: none;
    cursor: pointer;
}

/* catálogo */

.catalogo {
    width: 1000px;
    padding: 100px;
    margin: 0 auto;
    background-color: #231F20;
}

a.cartão {
    width: 20rem;
    padding: 3rem;
    box-shadow: 0 0 1rem #00000060;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: #b5437f;
    color:white;
    text-decoration: none;
}
    
a.cartão:hover {
    transform: scale(1.1);
}
  
a.cartão img {
    width: 15rem;
    height: 15rem;
}
  
a.cartão h2 {
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: white;
}

/* footer */

.tocador {
    max-width: 1000px;
    min-width: 1000px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-image: url("/img/player.jpg");
}