@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Global styles */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #231f20;
}

span {
  color: #03adef;
}

/* header */

header {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #b5437f;
  height: 100px;
  margin: 0 auto;
}

.media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }

.buscar {
  float: left;
  width: 30%;
  height: 40px;
  background: #231f20;
  border: 2px solid #03adef;
  border-radius: 5px;
}

.buscar input[type="text"] {
  float: left;
  width: 80%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0 25px;
  color: white;
}

.buscar button {
  float: left;
  width: 20%;
  height: 100%;
  border: none;
  background: #231f20;
  color: #03adef;
  cursor: pointer;
}

.buscar button:hover {
  color: #b5437f;
}

#adicionar {
  float: left;
  width: 5%;
  color: #03adef;
  cursor: pointer;
}

#adicionar:hover {
  color: #231f20;
  transform: scale(1.1);
}

#generos {
  float: left;
  width: 5%;
  padding: 20px;
  color: #03adef;
  cursor: pointer;
}

#generos:hover {
  color: #231f20;
  transform: scale(1.1);
}

#home {
  float: left;
  width: 5%;
  padding: 40px;
  color: #03adef;
  cursor: pointer;
}

#home:hover {
  color: #231f20;
  transform: scale(1.1);
}

#github {
  float: left;
  width: 5%;
  padding: 10px;
  color: #03adef;
  cursor: pointer;
}

#github:hover {
  color: #231f20;
  transform: scale(1.1);
}

#sobre {
  float: left;
  width: 5%;
  padding: 20px;
  color: #03adef;
  cursor: pointer;
}

#sobre:hover {
  color: #231f20;
  transform: scale(1.1);
}

/* catalogo */

.catalogo {
  background-color: #231f20;
  max-width: 1000px;
  min-width: 100px;
  padding: 20px;
  margin: 0 auto;
}

a.cartao {
  width: 10rem;
  padding: 1rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  flex-direction: column;
  transition: transform 0.5s;
  background-color: #b5437f;
  color: #03adef;
  text-decoration: none;
}

a.cartao:hover {
  transform: scale(1.1);
}

a.cartao img {
  width: 8rem;
  height: 8rem;
}

a.cartao h2 {
  width: 100%;
  padding-top: 5px;
  color: #03adef;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.cartao h4 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a.cartao h5 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalogo-musicas {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cover {
  width: 316px;
  height: 316px;
}

/* cadastro */

.cadastro {
  background-color: #231f20;
  max-width: 1000px;
  min-width: 100px;
  margin: 0 auto;
}

.formulario {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

#gender_id {
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.2rem;
  outline: none;
  border: 2px solid #03adef;
  border-radius: 5px;
}

.cadastro form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  outline: none;
  border: 2px solid #03adef;
  border-radius: 5px;
}

.cadastro form div label {
  font-size: 1rem;
  color: #03adef;
}

.cadastro form button {
  border: 2px solid #03adef;
  border-radius: 5px;
  background-color: #03adef;
  padding: 8px 40px;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  margin: auto;
}

.cadastro form button:hover {
  transform: scale(1.1);
}

.formulario button {
  display: flex;
  justify-content: center;
}

/* detalhes */

.detalhes {
  background-color: #231f20;
  max-width: 1000px;
  min-width: 100px;
  margin: 0 auto;
  flex-direction: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.detalhes img {
  margin: 1rem auto;
}

.detalhes-texto {
  width: 50%;
  border: 2px solid #03adef;
  border-radius: 5px;
  padding: 15px;
  color: white;
}

#deletar {
  float: left;
  width: 5%;
  padding: 20px;
  color: #03adef;
  cursor: pointer;
}

#deletar:hover {
  color: #b5437f;
  transform: scale(1.1);
}

#editar {
  float: left;
  width: 5%;
  padding: 20px 20px 20px 0;
  color: #03adef;
  cursor: pointer;
}

#editar:hover {
  color: #b5437f;
  transform: scale(1.1);
}

/* deletar */

.deletar {
  background-color: #231f20;
  max-width: 1000px;
  min-width: 100px;
  margin: 100px auto;
}

.exclusao {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 35px;
  border: 2px solid #03adef;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
}

.deletar form button {
  border: 2px solid #03adef;
  border-radius: 5px;
  background-color: #03adef;
  padding: 8px 40px;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  margin: auto;
}

.deletar form button:hover {
  transform: scale(1.1);
}

.deletar button {
  display: flex;
  justify-content: center;
}

/* Player em Detalhes */

iframe {
  overflow: hidden;
  padding-top: -5rem;
  padding-bottom: 1rem;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  border-top: 4px solid #03adef;
  background-color: #000;
}

/* Gêneros */

.lista-generos {
  margin: 2rem 4rem;
  padding: 1rem;
  background-color: #363031;
  font-weight: bold;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-generos li {
  background-color: #413a3b;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  color: #03adef;
  margin: 0.4rem;
}

.lista-generos li:hover {
  background-color: #03adef;
  color: #b5437f;
  cursor: pointer;
}

/* sobre */

header {
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #b5437f;
  height: 100px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}

.alunos {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 100px));
  grid-gap: 30px;
  justify-content: center;
  text-align: center;
}

.card {
  height: 150px;
  background: #b5437f;
  border-radius: 8px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card b {
  width: 100%;
  color: #03adef;
}

.card-alunos {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  color: #03adef;
}

/* Loading */

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Message */

#message {
  background-color: #b5437f;
  color: #231f20;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

#close {
  color: #231f20;
  padding-left: 0.5rem;
}

#close:hover {
  color: #03adef;
  cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 765px) {
  header {
    background-image: url("/img/logo_header.png");
    background-size: 12rem;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #b5437f;
    height: 100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 733px) {
  header {
    background-image: url("/img/logo_header_s.png");
    background-size: 9rem;
  }
}

@media screen and (max-width: 668px) {
  header {
    background-image: url("/img/logo_header_s.png");
    background-size: 7rem;
  }
}

@media screen and (max-width: 625px) {
  header {
    background-image: url("/img/logo_header_s.png");
    background-size: 5rem;
  }

  .detalhes {
    padding-bottom: 10.5rem;
  }
}

@media screen and (max-width: 560px) {
  header {
    background-image: url("/img/logo_grande.png");
    background-size: 7rem;
    background-position: center top;
  }

  .media-container {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 479px) {

  .media-container {
    padding: 1rem 2px 0 2px;
    justify-content: center;
  }
}

@media screen and (max-width: 382px) {

  .media-container {
   padding: 1rem 0 0 0;
  }

  form {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin-left: -30px;
  }
  .buttons {
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 329px) {

  form {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin-left: -40px;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #231f20;
}

::-webkit-scrollbar-thumb {
  background: #b5437f;
}

::-webkit-scrollbar-thumb:hover {
  background: #03adef;
}